.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-slider-1 {
  margin-top: 6px;
  margin-bottom: 6px;
  min-height: 438px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-1 .u-image-1 {
  width: 349px;
  height: 384px;
  margin: 0 auto 0 -57px;
}

.u-section-1 .u-text-1 {
  margin: -346px 0 0 347px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 80px -34px 0 313px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 38px 394px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -286px 312px 0 347px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 42px;
  width: 42px;
  margin: 207px 252px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -32px 0 0 659px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-1 .u-image-2 {
  width: 400px;
  height: 384px;
  margin: 0 auto 0 -108px;
}

.u-section-1 .u-text-5 {
  margin: -384px 15px 0 333px;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 105px -55px 0 312px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: -218px -13px 0 361px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 41px;
  width: 41px;
  margin: -28px auto 0 305px;
}

.u-section-1 .u-icon-4 {
  height: 46px;
  width: 46px;
  margin: 198px auto 0 361px;
}

.u-section-1 .u-text-8 {
  margin: -26px -79px 0 427px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px auto 0 528px;
}

.u-section-1 .u-icon-5 {
  height: 35px;
  width: 35px;
  margin: 23px auto 0 528px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -28px 363px 0 583px;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 13px 27px 0 528px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 246px;
  margin: -196px auto 0 -65px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 241px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px 30px 0 499px;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-icon-6 {
  height: 38px;
  width: 38px;
  margin: -35px auto 0 444px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 27px 85px 0 444px;
}

.u-section-1 .u-image-4 {
  width: 380px;
  height: 325px;
  margin: -276px auto 0 25px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 353px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 353px 0 auto;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-icon-7 {
  height: 39px;
  width: 39px;
  margin: -40px auto 0 519px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 26px 31px 0 519px;
}

.u-section-1 .u-image-5 {
  width: 520px;
  height: 347px;
  margin: -347px auto 0 -29px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px auto 0 566px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 324px 0 auto;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

.u-section-1 .u-icon-8 {
  height: 38px;
  width: 38px;
  margin: -28px auto 0 566px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 26px 45px 0 534px;
}

.u-section-1 .u-image-6 {
  width: 520px;
  height: 325px;
  margin: -325px auto 0 -12px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 268px 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 20px 351px 0 600px;
}

.u-section-1 .u-btn-10 {
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: -48px 436px 0 auto;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  margin: 23px 118px 0 572px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px 572px 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-7 {
  width: 520px;
  height: 289px;
  margin: -318px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 31px 217px 0 516px;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  margin: 21px 192px 0 564px;
}

.u-section-1 .u-btn-12 {
  padding: 0;
}

.u-section-1 .u-icon-10 {
  height: 46px;
  width: 46px;
  margin: -37px 482px 0 auto;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  margin: 12px 66px 0 497px;
}

.u-section-1 .u-image-8 {
  width: 308px;
  height: 308px;
  margin: -174px auto 0 39px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -79px auto 0 516px;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 96px 0 608px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 26px 250px 0 672px;
}

.u-section-1 .u-btn-14 {
  padding: 0;
}

.u-section-1 .u-icon-11 {
  height: 49px;
  width: 49px;
  margin: -46px auto 0 608px;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  margin: 39px 86px 0 608px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 56px auto 0 608px;
  padding: 8px 33px;
}

.u-section-1 .u-image-9 {
  width: 488px;
  height: 293px;
  margin: -284px auto 0 6px;
}

.u-section-1 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 212px;
    margin-left: 247px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 459px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 312px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -145px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 426px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 426px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 239px;
    margin-left: 483px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 355px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 329px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 457px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 261px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 379px;
    margin-right: 261px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 500px;
    margin-right: 251px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 18px;
    margin-left: 500px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 472px;
    margin-right: 472px;
  }

  .u-section-1 .u-image-7 {
    width: 420px;
    height: 234px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 175px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 92px;
    margin-left: 464px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 363px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -151px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 316px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 150px;
    margin-left: 572px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 141px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 202px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 439px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-1 .u-image-2 {
    width: 250px;
    height: 326px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -218px;
    margin-left: 251px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 317px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 335px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 188px;
    margin-left: 393px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 175px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 149px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 224px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 224px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 359px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 205px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 199px;
    margin-right: 205px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 171px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 410px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 454px;
    margin-left: 310px;
  }

  .u-section-1 .u-image-7 {
    width: 330px;
    height: 184px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 138px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 2px;
    margin-left: 374px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 136px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 324px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 60px;
    margin-left: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 5px;
    margin-bottom: 40px;
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 133px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 132px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 299px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 247px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 264px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 148px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 35px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 176px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 481px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 481px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 283px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 162px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 482px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 59px;
    margin-right: 162px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 340px;
    margin-right: 91px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 340px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 170px;
  }

  .u-section-1 .u-image-7 {
    width: 260px;
    height: 145px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 109px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 236px;
  }

  .u-section-1 .u-icon-10 {
    margin-right: 474px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 402px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 471px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 471px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 32px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 279px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 162px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 223px;
    margin-right: 91px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 282px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 282px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 274px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 108px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 281px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 281px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 213px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 100px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 282px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 100px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 200px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 231px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 256px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 424px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 160px;
    height: 89px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 67px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 36px;
  }

  .u-section-1 .u-icon-10 {
    margin-right: 274px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 202px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 271px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 271px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 192px;
    margin-left: 0;
  }
}